/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10.01.2015., 01:02:37
    Author     : Domagoj
*/

body{
    background-color: #D8D8D8;
    
    
}


.header {
    width: 100%;
    height: 200px;
    color: white;
    text-align: center;
    background-color: #086A87;
    padding-top: 10px;    
}
#nadzornik{
    height:169px;
}
/* ispis tiketa */
#print{
    height:100px;
}


.sustav{
    float:right;
    margin-left: 0px;
}
.sustav p {
    margin-right:50px;
}

.main {
    margin-left: 500px;
    
}

.mainNadzornik{
    float:left;
}
.choice{
    width:400px; 
    height:100px;    
    background-color: #F2F2F2;
    border: 3px solid black;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
    color: blue;
    font-size:20px;
    
}

.choice:hover, #info:hover {
    background-color:#C8C8C8;
    cursor:pointer;
}

.repeat{
    /*padding-top:10px;*/
    background-color:red;
    color:white !important;
}
.repeat h3{
    font-size:30px;
}

.text {
    text-align:center;
    margin: 0px 0px 0px 0px;
    padding-top: 30px;
    font-size: 20px;
}

.side{
    float:left;
}

.home{
    margin-top:10px;
    margin-left:10px;
}

.side-ticket{
    width:300px;
    height:120px;
    border: 3px dotted black;
    border-radius: 10px;
    margin-bottom: 25px;
    color:black;
}
.side-ticket h3 {
    text-align:center;
    
}
#info{
    border: 3px solid black;
    background-color: #F2F2F2;
    border: 3px solid black;
    border-radius: 10px;
    color: blue;
    padding-bottom:17px;
}


.opcije {
    width: 400px;
    border: 3px solid black;
    margin: 10px 10px 10px 10px;
    color: blue; 
}
.opcije button, .opcije a {
    width:100%;
    background-color: #F2F2F2;
    color: blue;
}
.opcije button:hover, .opcije a:hover {
    background-color:#C8C8C8;
    color:blue;
    cursor:pointer;
}

/*#naslovOpcije-no-hover:hover{
    #result-side-menu li.li-no-hover:hover {
    background-color: transparent;
}*/

.opcije li{
    background-color: #F2F2F2;
    /*padding-top:0px;*/
    
}
.editOption{
    font-size:20px;
}

#addOption {
    padding-left:250px;
}
.editHead{
   padding-left:20px;
   padding-right:18px;
   margin-left:15px;
}
.infoHead{
    font-size:15px;
    padding-right:105px;
}
.information {
    font-size:13px !important;
    width:100% !important;
    margin-bottom:5px !important;
}

.report{
    padding-top:13px;
    
}
.reportHead{
    margin-top:10px;
    font-size:15px;
     padding-left:10px;
   padding-right:256px;
   margin-left:15px;
    
    
}



.day_izvjestaj{
    padding-left:20px;
}
.form-group{
     margin: -20px 0px 0px 0px;
}
#form-group{
    margin: -0px 0px 0px 0px;
}


.ticket {
    font-size: 18px;
    font-weight: bold; 
    color: #0000FF;
}
.ticket td{
    text-align:center;
    color: #0000FF;
}
/*gumb za povratak s ticket na home*/
.back a{
    margin-left:5px;
    float:left;
    color:white;
    font-size:20px;
    text-decoration:none;
}

.table_my{
    width:100%;  
    text-align:center;
}
.table_head{
     text-align:center;
    
}

/* fonts */
.header, .choice, .side-ticket h3, .headerTicket, .liste, .ticket td, .back a, .sustav p{
    font-family: 'Rammetto One', cursive;
    font-family: 'Raleway', sans-serif;
    font-family: 'arial', sans-serif;
}

/*boje */
.dvadeset{
    font-size:20px;
}

.dvadesetpet{
    font-size:25px;
}

.trideset{
    font-size:30px;
}
.tridesetpet{
    font-size:35px;
}
.cetrdeset{
    font-size:40px;
}